<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @toy.name %>
</p>

<p>
  <b>Description:</b>
  <%= @toy.description %>
</p>


<%= link_to 'Edit', edit_toy_path(@toy) %> |
<%= link_to 'Back', toys_path %>
